.main {
  margin: 30px;
  border: 2px solid gray;
  width: 50%;
  background-color: aliceblue;
}

.heading {
  margin-left: 10px;
}

.button {
  background-color: cadetblue;
  font-size: large;
  margin: 10px;
}

.list {
  display: flex;
  flex-direction: column;
  padding: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
  margin-left: 50px;
  color: darkslateblue;
  border: 2px solid gray;
  width: 70%;
  margin: 10px;
  background-color: rgb(240, 238, 238);

}